body {
    margin: 10px 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
}

.actions {
    margin: 10px 100px;
    text-align: center;
}

.actions>a {
    display: block;
    text-decoration: none;
    color: rgb(0, 170, 255);
}